
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*VisualState.xml
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.svn
*.dbmdl
*.vsmdi
/sys$command
*.ncrunch*

# nuget
packages/*
!packages/repositories.config

# this handles separate solutions that also use nuget packages
/*/packages/*
!/*/packages/repositories.config
